/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Heebo:400,500|Montserrat:400,500,600,700');

// fonts
$base-font-size: 15;
$base-font: 'Heebo', sans-serif;
$heading-font: 'Montserrat', sans-serif;



// color
$dark-gray: #2a2a2a;
$mid-gray: #9b9b9b;
$white: #fff;
$black: #000;
$green: #83ba3b;
$darkblue: #1b1f28;

$theme-primary-color: $green;
$body-bg-color: $white;
$section-bg-color: #f8f8f8;
$text-color: $mid-gray;
$heading-color: $darkblue;
