.theme-accordion-s1 {
	margin-bottom: 0;

	.panel-default {
		background: transparent;
		border: 0;
		border-radius: 0;
		box-shadow: none;
	}

	.panel-heading {
		background-color: transparent;
		padding: 0;
		border-radius: 0;
	}

	.panel+.panel {
		margin-top: 15px;
	}

	.panel-heading a {
		background-color: $theme-primary-color;
		font-size: 20px;
		font-size: calc-rem-value(20);
		color: $white;
		display: block;
		padding: 18px 25px;
		position: relative;

		@include media-query(991px) {
			font-size: 16px;
			font-size: calc-rem-value(16);
			padding: 15px 25px;
        }

		@include media-query(767px) {
			padding: 12px 15px;
        }

		&:before {
			font-family: "themify";
			content: "\e64b";
			font-size: 15px;
			font-size: calc-rem-value(15);
			position: absolute;
			right: 25px;
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
			@include transition-time(0.3s);

			@include media-query(991px) {
				font-size: 18px;
				font-size: calc-rem-value(18);
				right: 20px;
	        }
		}

		&:focus {
			text-decoration: none;
		}
	}

	.panel-heading .collapsed {
		background-color: #f1f1f1;
		color: $heading-color;
	}

	.panel-heading .collapsed:before {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}

	.panel-heading+.panel-collapse>.panel-body {
		background-color: #fbfbfb;
		font-size: 18px;
		font-size: calc-rem-value(18);
		border: 0;
		padding: 40px 25px 15px;

		@include media-query(991px) {
			padding: 20px 25px 10px;
			font-size: 16px;
			font-size: calc-rem-value(16);
		}

		@include media-query(767px) {
			padding: 15px 15px 8px;
		}

		p {
			margin-bottom: 1.3em;
		}
	}
}

.theme-accordion-s2 {
	@extend .theme-accordion-s1;

	.panel-default {
		border: 0;
		position: relative;
	}

	.panel-heading a {
		background-color: $white;
		font-family: $heading-font;
		color: $theme-primary-color;
		display: block;
		padding: 12px 25px;
		border: 1px solid #dde2e8;
		position: relative;

		@include media-query(991px) {
			padding: 12px 20px;
        }

		@include media-query(767px) {
			padding: 12px 15px;
        }

        .icon {
			background: $theme-primary-color;
			width: 47px;
			height: 47px;
			line-height: 47px;
			color: $white;
			font-size: 20px;
			font-size: calc-rem-value(20);
			position: absolute;
			right: 0;
			top: 0;
			text-align: center;

			@include media-query(767px) {
				display: none;
			}

			&:before {
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
				@include transition-time(0.3s);
			}
        }

		&:before {
			display: none;
		}
	}

	.panel-heading .collapsed {
		color: #1e2331;
	}

	.panel-heading .collapsed .icon:before {
		content: "\f107";
	}

	.panel-heading+.panel-collapse>.panel-body {
		padding-left: 130px;
		min-height: 135px;
		position: relative;

		@include media-query(767px) {
			padding-left: 15px;
			min-height: auto;
		}

		.img-holder {
			position: absolute;
			left: 0;
			top: 30px;

			@include media-query(767px) {
				position: static;
				margin-bottom: 15px;
			}
		}
	}
}