.theme-btn {
	background-color: $theme-primary-color;
	font-family: $heading-font;
	font-size: 16px;
	font-size: calc-rem-value(16);
	font-weight: 600;
	color: $white;
	padding: 13px 25px;
	border-radius: 50px;
	text-transform: capitalize;
	display: inline-block;

	@include media-query(991px) {
		font-size: 15px;
		font-size: calc-rem-value(15);
		color: $white;
		padding: 11px 25px;
		border-radius: 50px;
	}

	@include media-query(767px) {
		padding: 11px 22px;
	}

	&:hover,
	&:focus,
	&:active {
		background-color: darken($theme-primary-color, 5%);
		color: $white;
	}
}


.theme-btn-s2 {
	font-family: $heading-font;
	color: $theme-primary-color;
	font-weight: 600;

	i {
		display: inline-block;
		position: relative;
		top: 2px;
		left: 3px;
	}

	&:hover {
		color: darken($theme-primary-color, 10%);
	}
}