/******************************
	#page title
******************************/
.page-title {
	@include background-style("../images/page-title.jpg", center center, cover, no-repeat, local);
	width: 100%;
	height: 480px;
	text-align: center;
	position: relative;

	@include media-query(991px) {
		height: 300px;
	}

	.container {
		height: 100%;
		display: table;

		> .row {
			vertical-align: middle;
			display: table-cell;
		}
	}

	h2,
	ol {
		color: $white;
	}

	h2 {
		font-size: 48px;
		font-size: calc-rem-value(48);
		margin: 0 0 0.30em;
		text-transform: capitalize;

		@include media-query(991px) {
			font-size: 40px;
			font-size: calc-rem-value(40);
		}

		@include media-query(767px) {
			font-size: 30px;
			font-size: calc-rem-value(30);
		}
	}

	.breadcrumb {
		background-color: transparent;
		padding: 0;
		margin-bottom: 0;

		@include media-query(767px) {
			text-align: center;
		}
	}

	.breadcrumb li {
		font-size: 16px;
		font-size: calc-rem-value(16);
		color: $white;
		margin-right: 5px;
		position: relative;

		@include media-query(767px) {
			font-size: 14px;
			font-size: calc-rem-value(14);
		}
	}

	.breadcrumb li a {
		color: $theme-primary-color;
	}

	.breadcrumb li a:hover {
		color: darken($theme-primary-color, 5%);
	}

	.breadcrumb > li + li {
		margin-left: 20px;
		padding-left: 15px;
	}

	.breadcrumb > li + li:before {
		content: "/";
		position: absolute;
		left: -10px;
		top: 0;
	}
}